* {
    -webkit-box-sizing: border-box;
    color: #5f6f8c;
    font-weight: bold;
}

html, body, ul {
    position: relative;
    width:100%;
    height:100%;
    overflow:hidden;
    -webkit-user-select: none !important;
}

html, body, ul, li, fieldset {
    margin:0;
    padding:0;
    list-style-type:none;
}

span {
    cursor: default;
}

body {
    background: #ffd794;
}

/* Navigation */
nav {
    position:absolute;
    top:0;
    width:100%;
    height:40px;
    background:#bad174;
    box-shadow: 0 1px 5px rgba(0,0,0,0.8);
    cursor: default;
    -webkit-user-select: none;
    z-index: 100;
}

nav ul {
    font-size:0;
    text-align:center;
}

nav li {
    height:100%;
    font-size:20px;
    width:33%;
    display:inline-block;
    text-align:center;
    -webkit-box-sizing: content-box;
    border-right: 1px solid #455418;
    border-left: 1px solid #ebfabc;
    line-height: 40px;
    -webkit-transition: background-color 0.1s linear;
}

nav li.selected {
    background-color: #b0e412;
}

nav li:hover {
    background-color: #cdee6a;
}

nav li:active {
    background-color: #94be16;
}

nav li:first-child {
    border-left: none;
}

nav li:last-child {
    border-right: none;
}

/* Pages */
section#content {
    position: relative;
    width:100%;
    height:100%;
    padding: 60px 40px 20px;
}

#content div.page {
    display:none;
    width:100%;
    height:100%;
    position:relative;
}

#content div.page label {
    font-size: 16px;
    line-height:12px;
    margin-bottom:15px;
    display:block;
    -webkit-user-select: none;
}

#content div.page.open {
    display:block;
}

#content div.page .restore-button {
    position:absolute;
    bottom:0;
    right:0;
}

fieldset {
    border:none;
    margin-bottom:30px;
}

/* Tooltip */
@-webkit-keyframes top-bounce {
    from { top: -2px; }
    to { top: -5px; }
}

@-webkit-keyframes left-bounce {
    from { left: -20px; }
    to { left: -23px; }
}

.tooltip {
    opacity: 0;
    transition: opacity 0.2s linear, top 0.3s ease;
    position: relative;
    top: -4px;
    -webkit-transform: translateY(-100%);
    padding-bottom:20px;
    pointer-events: none;
}

.tooltip.show {
    visibility: visible;
    display:block;
    opacity:1;
}

.tooltip .tooltip-arrow {
    background-image:url("../images/tooltip-arrow.png");
    left: 50%;
    position: absolute;
    width: 30px;
    height: 20px;
    margin-left: -15px;
    bottom:1px;
    z-index:100;
}

.tooltip .tooltip-inner {
    -webkit-transform: translateX(-50%);
    margin-left: 50%;
    background-color: #bad174;
    padding: 10px;
    text-align:center;
    width: 80px;
    border-radius: 20px;
    font-size: 25px;
    line-height:25px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.5);
}

.ui-state-hover .tooltip {
    -webkit-animation: top-bounce 0.6s linear infinite alternate;
}

.ui-state-hover.ui-state-active .tooltip {
    -webkit-animation: none;
}

/* Vertical tooltip */
.ui-slider-vertical .tooltip {
    padding: 0;
    transition: opacity 0.2s linear, left 0.3s ease;
    -webkit-transform: translate(-100%, -50%);
    top: 50%;
    left: -20px;
    width: 80px;
}

.ui-slider-vertical .tooltip .tooltip-arrow {
    background-image:url("../images/tooltip-arrow-left.png");
    width:19px;
    height:30px;
    -webkit-transform: translate(100%, -50%);
    top: 50%;
    right: 0;
    left: auto;
}

.ui-slider-vertical .tooltip .tooltip-inner {
    -webkit-transform: none;
    height: 80px;
    margin: 0;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.7);
    line-height: 57px;
}

.ui-slider-vertical .ui-state-hover .tooltip {
    -webkit-animation: left-bounce 0.6s linear infinite alternate;
}

/* Switch Button */
.switch-button {
    overflow: hidden;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5) inset;
    position:relative;
    cursor: default !important;
    -webkit-user-select: none;
    background: #fa726c;
}

.switch-button.checked {
    background: #3ba686;
    -webkit-transition: background-color 0.2s ease;
}

.switch-button .container {
    -webkit-transition: left 0.2s ease;
    width:170px;
    position:absolute;
    left: -70px;
    line-height: 55px;
    vertical-align: middle;
}

.switch-button.checked .container {
    left: 0;
}

.switch-button span {
    text-align:center;
    color: #f0f5f4;
    width: 75px;
    text-transform: uppercase;
    font-size: 20px;
    display:inline-block;
    margin: 5px 0;
    vertical-align: top;
    line-height: 20px;
}

.switch-button .separator {
    border-radius: 10px;
    background: #f0f5f4;
    width: 20px;
    height: 20px;
}

.switch-button:hover {
    background: #f89b97;
}

.switch-button.checked:hover {
    background: #4dbc9b;
}

/* Button */
button {
    color: #f0f5f4;
    border-radius: 15px;
    line-height: 30px;
    font-size: 15px;
    vertical-align: middle;
    background: #3ba686;
    box-shadow: 0 3px 3px rgba(0,0,0,0.4);
    outline: none;
    border: none;
    height: 30px;
    padding: 0 10px;
    transition: background-color 0.05s linear;
    -webkit-user-select: none;
}

button:hover {
    background: #4dbc9b;
}

button:active {
    background: #227c61;
}

/* Connection Page */
#page-connection .connection-status {
    height: 12px;
    margin-bottom: 30px;
}

#page-connection .icon {
    background: url("../images/status-disconnected.png");
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right:10px;
    position: relative;
    top: 1px;
}

#page-connection .text.connected {
    display: none;
}

body.connected #page-connection .icon {
    background: url("../images/status-connected.png");
}

body.connected #page-connection .text.connected {
    display: inline-block;
}

body.connected #page-connection .text.disconnected {
    display: none;
}

input {
    height: 30px;
    border-radius: 15px;
    font-size: 16px;
    padding: 5px 20px;
    border: none;
    outline: none;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5) inset;
}

input#port-input {
    width: 250px;
}

/* Led Map Screen*/
#page-adjust-position .monitor {
    background: url("../images/screen.png");
    width: 390px;
    height:325px;
    margin: -1px 0 0 -5px;
    padding: 17px 21px;
    display: inline-block;
}

#led-position-screen {
    -webkit-box-sizing: content-box;
    width: 350px;
    height:192px;
    position:relative;
    overflow:hidden;
}

.led-map-screen .group {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

.led-map-screen .holder {
    z-index:2;
}

#content div.page .led-map-screen .center-section {
    width: auto;
    position:absolute;
    left:50%;
    top:50%;
    z-index:3;
    -webkit-transform: translate(-50%, -50%);
}

#content div.page .led-map-screen button {
    display:block;
    margin:20px auto;
}

.led-map-screen .rect {
    opacity: 0.4;
    position:absolute;
    -webkit-box-sizing: content-box;
    z-index:1;
    -webkit-transition: background-color 0.1s linear;
}

.holder {
    position:absolute;
    -webkit-box-sizing: content-box;
     width:4.4%;
     height:10%;
}

.holder .pointer {
    width: 120%;
    height: 120%;
    background-image: url("../images/pointers/red.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.pointer.color_ffff00 {
    background-image: url("../images/pointers/yellow.png");
}
.pointer.color_78a3b9 {
    background-image: url("../images/pointers/dark-blue.png");
}
.pointer.color_00ff00 {
    background-image: url("../images/pointers/green.png");
}
.pointer.color_ff00ff {
    background-image: url("../images/pointers/pink.png");
}
.pointer.color_ff9000 {
    background-image: url("../images/pointers/orange.png");
}
.pointer.color_00ffff {
    background-image: url("../images/pointers/light-blue.png");
}
.pointer.color_c03c44 {
    background-image: url("../images/pointers/dark-red.png");
}
.pointer.color_ffd6a0 {
    background-image: url("../images/pointers/peach.png");
}
.pointer.color_aa66cc {
    background-image: url("../images/pointers/purple.png");
}

.group.not-selected .rect {
    background: black !important;
}

.group.not-selected .pointer {
    background-image: url("../images/pointers/white.png");
}

body.fullscreen .group.not-selected .rect{
    background: white !important;
}

.group.selected .pointer {
    background-image: url("../images/pointers/red.png");
}

.group.selected .rect{
    background: red !important;
}
.group[data-direction='left'] .holder, .group[data-direction='right'] .holder {
    height:8%;
    width:5.5%;
}
.group[data-direction='up'] .holder .pointer {
    position: relative;
    top:-15%;
}
.group[data-direction='left'] .holder .pointer {
    -webkit-transform: rotate(-90deg);
    width:100%;
    height:150%;
}
.group[data-direction='right'] .holder .pointer {
    width:100%;
    height:150%;
    -webkit-transform: rotate(90deg);
}
.group[data-direction='down'] .holder .pointer {
    -webkit-transform: rotate(180deg);
}
.group[data-direction='left-up'] .holder .pointer {
    -webkit-transform: rotate(-45deg);
}
.group[data-direction='right-up'] .holder .pointer {
    -webkit-transform: rotate(45deg);
}
.group[data-direction='left-down'] .holder .pointer {
    -webkit-transform: rotate(225deg);
}
.group[data-direction='right-down'] .holder .pointer {
    -webkit-transform: rotate(-225deg);
}

/* Ledmap Rect Animations */
.sliding .group[data-direction='right'] .rect,
.sliding .group[data-direction='right-down'] .rect,
.sliding .group[data-direction='right-up'] .rect {
    right: 0 !important;
    left: auto !important;
}

.group[data-direction='down'] .rect,
.group[data-direction='left-down'] .rect,
.group[data-direction='right-down'] .rect {
    bottom: 0 !important;
    top: auto !important;
}

.group[data-direction='left'] .rect,
.group[data-direction='right'] .rect {
    transition: width 0.2s linear, background-color 0.1s linear;
}

.group[data-direction='up'] .rect,
.group[data-direction='down'] .rect {
    transition: height 0.2s linear, background-color 0.1s linear;
}

.group[data-direction='right-up'] .rect,
.group[data-direction='left-up'] .rect,
.group[data-direction='left-down'] .rect,
.group[data-direction='right-down'] .rect {
    transition: width 0.2s linear, height 0.2s linear, background-color 0.1s linear;
}

.group.group.not-selected .rect,
.group.group.selected .rect,
.no-rect-animation .group .rect {
    transition: background-color 0.1s linear !important;
}

/* Lights positioning page */
#page-adjust-position .monitor .restore-button {
    background: url("../images/revert.png");
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

#page-adjust-position fieldset {
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
    text-align: center;
    margin-left: 20px;
}

#page-adjust-position .ui-slider-vertical {
    display: inline-block;
    margin: 0 auto;
    height: 270px;
}

/* Restore animations */
body.restoring .led-map-screen * {
    transition: all 0.15s linear !important;
}

/* Fullscreen */
#fullscreen {
    width: 60px;
    height: 60px;
    background: url("../images/enter-fullscreen.png");
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    opacity: 1;
}

#page-adjust-position .center-section div {
    margin: 1px;
    transition: opacity 0.1s ease, height 0.1s ease, width 0.1s ease, 0.1s ease, margin 0.1s ease;
}

#page-adjust-position .center-section div:hover {
    margin: 0;
    width: 62px;
    height: 62px;
    opacity: 0.8;
}

#page-adjust-position .center-section div:active {
    margin: 2px;
    width: 58px;
    height: 58px;
    opacity: 1;
}
body.fullscreen #page-adjust-position .center-section {
    width: 25% !important;
    height: 25%;
}
body.fullscreen #fullscreen {
    background: url("../images/exit-fullscreen.png");
    margin-right:10%;
}
body.fullscreen .center-section div {
    width: 45% !important;
    height: 100% !important;
    opacity: 0.9 !important;
    display:inline-block !important;
}
body.fullscreen .center-section div:hover {
    opacity: 1 !important;
}
body.fullscreen .center-section div:active {
    opacity: 0.7 !important;
}
body.fullscreen nav, body.fullscreen #page-adjust-position .title {
    display:none;
}
body.fullscreen #page-adjust-position .monitor {
    background: none;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
body.fullscreen #led-position-screen {
    width:100%;
    height:100%;
}

body.fullscreen #page-adjust-position fieldset,
body.fullscreen #page-adjust-position button {
    display:none;
}

body.fullscreen .pointer {
    border-color:white;
}
body.fullscreen .led-map-screen {
    background-color:black;
}

/* Watermark */
.watermark {
    position: absolute;
    left: 40px;
    bottom: 20px;
    font-weight: normal;
    font-size: 13px;
}

body.fullscreen .watermark {
    display: none;
}

/* Download overlay */
#overlay {
    visibility:hidden;
    opacity:0;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    transition: opacity 0.2s ease-out;
    z-index:1000;
    padding: 40px;
}

body.overlay #overlay {
    visibility: visible;
    opacity:1;
}

#overlay .overlay-inner {
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    width: 400px;
    background: #ffd794;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.7);
    cursor: default;
}

#overlay .overlay-inner .detail {
    font-size: 14px;
}

#overlay .overlay-inner .title {
    display: block;
    margin-bottom: 10px;
    border-bottom: 2px solid #5f6f8c;
    padding-bottom:10px;
}

#overlay .overlay-inner .message {
    display:block;
    margin-bottom: 10px;
    font-size:13px;
    text-align:center;
    border-bottom: 2px solid #5f6f8c;
    padding-bottom:10px;
}

#overlay .overlay-inner .group {
    float: right;
    font-size: 14px;
}

#download-progress {
    margin-top: 10px;
}

/* Progressbar */
.ui-progressbar.ui-widget-content, .ui-progressbar .ui-progressbar-value {
    height: 24px;
    overflow: hidden;
    border: none;
    background: #fa726c;
    box-shadow: 2px 1px 4px rgba(0,0,0,0.5) inset;
}
.ui-progressbar .ui-progressbar-value {
    background: #17c18e;
}
.ui-progressbar.ui-corner-all, .ui-progressbar .ui-corner-all {
    border-radius: 12px;
}
