* {
    -webkit-box-sizing: border-box;
}

html, body, ul {
    position: relative;
    width:100%;
    height:100%;
}

nav {
    top:0;
    bottom:0;
    width:200px;
    position:absolute;
    background:skyblue;
}

section#content {
    top:0;
    bottom:0;
    width:100%;
    height:100%;
    padding-left:200px;
}

html, body, ul, li {
    margin:0;
    padding:0;
    list-style-type:none;
}

nav li {
    border:1px blue solid;
    height:33%;
    text-align:center;
}

nav li span {
    position:relative;
    top:50%;
    -webkit-transform:transition(-50%);
}

#content div.page {
    display:none;
    width:100%;
    height:100%;
    padding:20px;
    position:relative;
}

#content div.page.open {
    display:block;
}

#content div.page .reset-default-button {
    position:absolute;
    bottom:20px;
    right:20px;
}

fieldset {
    border:none;
    margin-bottom:20px;
    position:relative;
}

fieldset div.slider.with-labels {
    margin-left:50px;
    margin-right:50px;
}

fieldset span.slider-label.left {
    float:left;
}

fieldset span.slider-label.right {
    float:right;
}

fieldset label {
    margin-bottom:10px;
    display:block;
}

fieldset input {
    width:80%;
    position: absolute;
    top:0;
    right:0;
}

fieldset button {
    position:absolute;
    right:0;
    top:0;
}

/* Led Map Screen*/
.led-map-screen {
    width: 400px;
    -webkit-box-sizing: content-box;
    height:280px;
    border:1px solid red;
    position:relative;
    margin-left:25px;
    margin-top:25px;
}

.holder {
    position:absolute;
    width:20px;
    height:25px;
}

.led-item {
    position:absolute;
    -webkit-box-sizing: border-box;
    display:inline-block;
    overflow:hidden;
    width:18px;
    height:25px;
    border-bottom: 2px solid black;
    left: 2%;
    top:0;
}
.led-item .pointer{
    left:-22%;
    position:absolute;
    -webkit-box-sizing: border-box;
    width: 26px;
    height:25px;
    background:red;
    border: 2px solid black;
    -webkit-transform: rotate(45deg) skew(24deg, 24deg) translate(26%, 26%);
}
.holder[data-direction='left'], .holder[data-direction='right'] {
    height:20px;
    width:25px;
}
.holder[data-direction='left'] .led-item {
    -webkit-transform: rotate(-90deg);
    left:3px;
    top:-20%;
}
.holder[data-direction='right'] .led-item {
    top:-20%;
    left:13%;
    -webkit-transform: rotate(90deg);
}
.holder[data-direction='down'] .led-item {
    -webkit-transform: rotate(180deg);
    top:-1px;
}
.holder[data-direction='left-up'] .led-item {
    -webkit-transform: rotate(-45deg);
    left:2%;
    top:-15%;
}
.holder[data-direction='right-up'] .led-item {
    -webkit-transform: rotate(45deg);
    left:38%;
    top:-15%;
}
.holder[data-direction='left-down'] .led-item {
    -webkit-transform: rotate(225deg);
    top:12%;
    left:-1%;
}
.holder[data-direction='right-down'] .led-item {
    -webkit-transform: rotate(-225deg);
    left:36%;
    top:13%;
}